/* Key Color HEX Code: 2E334E 2E334E FFAD00 D9D9D6 212721 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    overflow: auto;
    font-family: sans-serif;
    scroll-behavior: smooth;
    background-color: #000000aa;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 500px;
    height: 90px;
    top: 50%;
    left: 50%;    
    margin: -45px 0 0 -250px; /* 자식 요소 전체를 중앙 정렬하기 위해, 상단 및 왼쪽 margin을 마이너스 값으로 적용하기 */
  }
  
  #irenehaus {
    width: 200px;
    height:50px;
    line-height: 50px;
    background-image: url('../img/mainLogo.png');
    background-size: contain;
    background-repeat: no-repeat;  
  }

  #text {
    width: 500px;
    height: 40px;
    text-align: center;
    margin-top: 5px;
    line-height: 18px;
    font-size: 11px;
    color: #ffffff66;
  }